<% provide(:title, 'Pricing') %>

<div class="row">
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Dirt</li>
      <li class="price">$10</li>
      <li class="bullet-item">1GB RAM</li>
      <li class="bullet-item">40GB Storage</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Diamond</li>
      <li class="price">$40</li>
      <li class="bullet-item">4GB RAM</li>
      <li class="bullet-item">250GB Storage</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Iron</li>
      <li class="price">$20</li>
      <li class="bullet-item">2GB RAM</li>
      <li class="bullet-item">100GB Storage</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Need more? Get in touch!</h4>
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
