<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Quarry Hosting<br></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/terms_of_service">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
