<div class="row">
  <div class="large-6 columns">
    <a href="/">
      <h1><img src="http://placehold.it/50x50&text=[ doug ]"> Quarry Hosting</h1>
    </a>
  </div>
  <div class="large-6 columns">
    <ul class="right button-group">
      <li><a href="/" class="button">Home</a></li>
      <li><a href="/pricing" class="button">Pricing</a></li>
      <li><a href="#" class="button">Sign In</a></li>
      <li><a href="#" class="button">Sign Up</a></li>
    </ul>
  </div>
</div>
